aside.select ul {
  padding-left: 0;
  display: block;
}

.sideUl li {
  list-style: none;
  padding-top: 0.5rem;
  padding-left: 0;
  border-bottom: 2px solid var(--white);
  width: 80%;
}

.sideUl li button {
  border: none;
  background: var(--darkgrey);
  display: block;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem;
  color: var(--white);
  border-radius: 1rem;
  transition: ease-in-out 0.3s;
}

.sideUl li button:hover {
  background: var(--yellow);
  color: var(--black);
  font-size: 1.2rem;
}

.track {
  color: var(--green);
}
