.cohortcart{
display: grid;}

.cohortlist{
    width: 50px;
    list-style: none;
    font-size: 15px;
    display: block;   
}


.cohortlisth2{
    font-size: 20px;
}


/* Button */
 li button{
    letter-spacing: normal;
    width: 340px;
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 100px;
}

li button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #3c3b3d;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

li button:hover,
li button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

li button:active {
  background: var(--color);
  color: #fff;
}