.cohorts {
    margin: auto;
    margin-top: 30px;
    padding-right: 5px;

    width: 170px;
    top: 145px;;
    position: sticky;

    overflow-y: auto;
    max-height: 100%;
}

#cohortsTitle {
    text-align: center;
    font-family: monospace;
    margin-bottom: 20px;
}

.cohort {
    list-style: none;
    margin-bottom: 15px;
    padding: 10px;

    box-shadow: 1px 1px 3px 1px;
    border: 1px solid black;
    border-radius: 10px;
    
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    
}

.cohort:hover {
    color: rgb(168, 0, 0);
    /* background-color: beige; */
    border: 1px solid rgb(168, 0, 0);
    box-shadow: 3px 3px 3px 1px rgb(255, 28, 28);
}

.cohort:active {
    color: darkred;
    /* background-color: rgb(230, 230, 205); */
    box-shadow: 2px 2px 3px 1px black inset;
}