header{
    display: block;
    background-color: #5c946e;
    height: 100px;
    text-align: center;
    color:white;
    font-size: 16px;
    padding:16px;
    grid-column: left/end;
    grid-row: header; 
    grid-row-start: header;
    grid-row-end: header;
}

header h1{
    display: block;
    padding:1%
}