.student {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.showMoreButton {
    font-family: monospace;
    color: rgb(68, 124, 255);
    width: 95px;
    margin: auto;
}

.showMoreButton:hover {
    text-decoration: underline;
}

.commentsAndFormContainer {
    display: grid;
    grid-template-columns: minmax(300px, 350px) minmax(300px, 350px);
    gap: 10px;
    padding: 20px;
}