main{
    display:block;
    grid-colum: right;
    margin: 0 auto;
    width: 90%;
    grid-row: main; 
}

.card{
    border: 2px solid #5c946e;
    grid-column-gap: 25px;
    column-gap: 25px;
    margin:10px;
    padding: 25px
}



