* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  display: grid;
  margin-top: 50px;
  gap: 2rem;
  margin-right: 60px;
}
body {
  background: #3333;
}

.List {
  display: grid;
  margin-left: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / 6;
  text-align: center;
  gap: 50px;
}
.Title {
  grid-column: 3;
  margin-left: 15px;
}
.Card {
  border-left: 3px solid #799be6;
  border-right: 3px solid #799be6;
  gap: 30px;
  line-height: 25px;
}
.Card:hover {
  font-size: 130%;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px 0 #5c946e inset, 0 0 10px 4px #799be6;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: #5c946e;
  border-radius: 100vw;
}
/* //?-------------------------------------- */
.Cohort {
  display: inline-table;
  margin-right: auto;
  margin-left: auto;
}
.Cohort li {
  margin-left: 100px;
  margin-right: 50px;
}

.CohortList {
  display: inline-block;
  justify-content: space-between;
  margin-top: 50px;
  line-height: 30px;
}
.CohortList :hover {
  letter-spacing: 2px;
  color: #1a3672;
}
.Add {
  width: 100px;
}
