.profile {
    font-family: monospace;
    font-weight: bold;
}

.imageContainer {
display: flex;
}

img {
    border-radius: 5px;
    box-shadow: 5px 5px black;

    margin-right: 10px
}

.onTrackToGrad {
    color: rgb(168, 0, 0);
    padding: 8px;
    box-shadow: 3px 3px 3px 1px rgb(255, 28, 28) inset;

    border-radius: 10px;

    margin: auto;
    margin-left: 5px;
    
}

#fullName {
    color: red;
}

