header{
    display: block;
    background-color: aquamarine;
    height: 100px;
    text-align: center;
    color:maroon;
    font-size: 16px;
    padding:16px;
    grid-column: left/end;
}

header h1{
    display: block;
    padding:1%;
}


