.all {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  background-image: url("./assets/simplewhitebg.jpeg");
}

.header {
  background-color: rgb(66, 66, 234);
  color: rgb(255, 255, 255);
  padding: 30px;
  text-align: center;
  font-size: larger;
  width: 100%;
}

.headerTitle {
  height: 50px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  /* border: 2px solid red; */
}

.headerTitle:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 30px;
  font-size: larger;
}

.cohort {
  /* border: 2px solid black; */
  margin-left: 40px;
}

.cohort-title {
  text-align: center;
  margin-left: 50px;
}

.students {
  /* border: 2px solid black; */
  margin-left: 70px;
  margin-right: 50px;
  padding-left: 50px;
}

hr {
  background-color: rgb(66, 66, 234);
  height: 2px;
}

.studentText {
  margin-left: 20px;
}

.grad {
  color: rgb(66, 66, 234);
}
