.form {
  grid-column: span 3;
  /* border: 1px solid black; */
  text-align: left;
}

.formButton {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
}

form {
  border: 2px solid black;
  padding: 20px;
}
