.form {
  /* display: grid; */
  border: 1px solid black;
  /* width: 10px; */
  text-align: left;
  width: max-content;
}

.hrForm {
  width: 100px;
}

.formButton {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
}

form {
  /* border: 2px solid black; */
  padding: 20px;
  display: grid;
}
