hr {
  margin-bottom: 10px;
  /* padding: 20px; */
}

.form-article {
  /* border: 2px solid palegreen; */
  color: aqua;
  margin: auto;
  padding: 10px;
}

.add-note :hover {
  color: darkblue;
  background-color: beige;
}
