.body{
    display: block;
    
}

.profilePhoto{
   display: block;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
    border: 2.5px solid rgb(13, 86, 135);
}

.page{
    display: grid;
    grid-template-columns: [left] 1fr [right]2fr[end]; 
     grid-template-rows: [header] 120px [main] auto[end];
     grid-column-gap: 25px;
    grid-row-gap: 25px;
    column-gap: 25px;
    row-gap: 25px;

   
}


.header{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgb(13, 86, 135);
    font-family: sans-serif;
    color: white;
    text-align: center;
    grid-column: left/end;
    grid-row: header;
}

.aside, .main {
    grid-row: main;
     ;
}
.aside {
    display: block;
    width: 10%;
    grid-column: left;
    
   
}

.cohorts:hover {
color: blue;
}

.main {
    display: block;
    grid-column: right;
    width: 90%;
    margin: 0 auto;
}

.studentCard{
     display: grid;
     grid-template-columns: [left] 1fr [right] 3fr ;
    grid-column-gap: 25px;
    padding: 25px;
    margin-bottom: 5%;
    border: 3px solid rgb(13, 86, 135);
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    
    
}

.studentInfo{
    width: 100%;
    margin-left: 50px;
}

.studentStats{
    width: 100%;
}

.studentDetails{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 3fr;
    grid-column: left/end;
   
}

.good{
    color: green;
}

.medium{
    color: yellow;
}

.bad{
    color: red;
}


#cohortH2{
    margin-left: 50px;

}




article{
    display: block;
    
}

hr {
    height: 1px;
    width: 100px;
   background-color: rgb(13, 86, 135);
    
}

#commenter, #comment {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}