.container {
  display: grid;
  grid-template-rows: 1fr 6fr;
  background-color: dodgerblue;
}

header {
  grid-column: 1/3;
  background-color: rgb(54, 190, 190);
  text-align: center;
}

.Class-selection {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-row: 1;
  margin-right: 58%;
}

.students-list {
  grid-row: 2;
  grid-column: 1;
}

.student-card {
  border: 2px solid green;
  grid-column-gap: 25px;
  padding: 20px;
}

/* main {
  width: 100%;
  margin-top: 85px;
  grid-column: 2;
  grid-row: 1;
  border: 1px solid black;
} */

img {
  height: 100px;
}

button {
  background: none;
  border: none;
  font-family: arial, sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  color: blue;
}

.button-list {
  /* display: flex; */
  list-style: none;
}

.show-hide-tag {
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
.show {
  background-color: green;
  color: white;
  cursor: pointer;
}
.hide {
  background-color: red;
  color: white;
  cursor: pointer;
}
