.studentsDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-column: left/end;
  /* border: 2px solid black; */
}

.codeWars {
  /* border: 2px solid black; */
  margin-left: 20px;
  margin-right: 20px;
}

.scores {
  /* border: 2px solid black; */
  margin-right: 30px;
  margin-left: 70px;
}

.certifications {
  /* border: 2px solid black; */
  margin-left: 50px;
}

.notes {
  /* border: 2px solid black; */
  grid-column: span 3;
}
