.article {
  padding: 2 rem;
  display: flex;
  border: 1px solid gold;
  margin-top: 10px;
}

.individual-card {
  /* border: 1px solid gold; */
  /* padding: rem; */
  margin: 5px 50px;
}

.student-cards {
  padding: 20px;
}

img {
  height: 100px;
  width: 100px;
}

.student-show-more {
  color: greenyellow;
  font-size: 20px;
}

.student-show-more:hover {
  color: darkorange;
}
